@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/img/winter.jpg);
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
}
.world {
    
    text-align: center;
    width: 300px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(14, 161, 180);
    position: absolute;
    margin-top: 40px;
}
.text {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(38, 39, 37);
    position: absolute;
    margin-top: 100px;
}
#btn{
    font-weight: bold;
    margin-top: 300px;
    position: absolute;
    font-size: 20px;
    border: 0;
    background-color: rgba(16, 219, 16, 0.904);
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
.text.two{
    font-size: 30px;
    margin-top: 180px;
    transition: 3s;
}
#btnox {
    font-weight: bold;
    margin-top: 500px;
    position: absolute;
    font-size: 20px;
    border: 0;
    background-color: rgba(0, 47, 255, 0.781);
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
#btnoxo {
    font-weight: bold;
    margin-top: 700px;
    position: absolute;
    font-size: 20px;
    border: 0;
    background-color: rgba(255, 166, 0, 0.781);
    border-radius: 20px;
    width: 200px;
    height: 100px;
}
.info {
    background-color: rgba(240, 248, 255, 0.507);
}
a {
    text-decoration: none;
    color: white;
}